BEGIN;

CREATE TABLE alembic_version (
    version_num VARCHAR(32) NOT NULL, 
    CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num)
);

-- Running upgrade  -> 0001_initial

CREATE TYPE user_role AS ENUM ('ADMIN', 'NGO_STAFF', 'VOLUNTEER', 'DONOR');

CREATE TABLE users (
    id SERIAL NOT NULL, 
    name VARCHAR(100) NOT NULL, 
    email VARCHAR(255) NOT NULL, 
    password_hash VARCHAR(255) NOT NULL, 
    role user_role DEFAULT 'VOLUNTEER' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_users_id ON users (id);

CREATE UNIQUE INDEX ix_users_email ON users (email);

CREATE TYPE disaster_status AS ENUM ('ACTIVE', 'CONTAINED', 'RESOLVED');

CREATE TABLE disasters (
    id SERIAL NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    description TEXT, 
    location VARCHAR(255) NOT NULL, 
    status disaster_status DEFAULT 'ACTIVE' NOT NULL, 
    start_date TIMESTAMP WITH TIME ZONE NOT NULL, 
    end_date TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id)
);

CREATE INDEX ix_disasters_id ON disasters (id);

CREATE INDEX ix_disasters_name ON disasters (name);

INSERT INTO alembic_version (version_num) VALUES ('0001_initial') RETURNING alembic_version.version_num;

-- Running upgrade 0001_initial -> 0002_add_created_by

ALTER TABLE disasters ADD COLUMN created_by_id INTEGER;

CREATE INDEX ix_disasters_created_by_id ON disasters (created_by_id);

ALTER TABLE disasters ADD CONSTRAINT fk_disasters_created_by_id_users FOREIGN KEY(created_by_id) REFERENCES users (id) ON DELETE SET NULL;

UPDATE alembic_version SET version_num='0002_add_created_by' WHERE alembic_version.version_num = '0001_initial';

-- Running upgrade 0002_add_created_by -> 0003_add_volunteer_assignments_and_tasks

CREATE TYPE assignment_status AS ENUM ('ACTIVE', 'COMPLETED');

CREATE TABLE volunteer_assignments (
    id SERIAL NOT NULL, 
    volunteer_id INTEGER NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    assigned_by_id INTEGER, 
    status assignment_status DEFAULT 'ACTIVE' NOT NULL, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_by_id) REFERENCES users (id) ON DELETE SET NULL, 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(volunteer_id) REFERENCES users (id) ON DELETE CASCADE, 
    CONSTRAINT uq_volunteer_disaster UNIQUE (volunteer_id, disaster_id)
);

CREATE INDEX ix_volunteer_assignments_id ON volunteer_assignments (id);

CREATE INDEX ix_volunteer_assignments_volunteer_id ON volunteer_assignments (volunteer_id);

CREATE INDEX ix_volunteer_assignments_disaster_id ON volunteer_assignments (disaster_id);

CREATE TYPE task_status AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'CANCELLED');

CREATE TABLE volunteer_tasks (
    id SERIAL NOT NULL, 
    title VARCHAR(150) NOT NULL, 
    description TEXT, 
    disaster_id INTEGER NOT NULL, 
    volunteer_id INTEGER NOT NULL, 
    assigned_by_id INTEGER, 
    status task_status DEFAULT 'PENDING' NOT NULL, 
    due_date TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(assigned_by_id) REFERENCES users (id) ON DELETE SET NULL, 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(volunteer_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_volunteer_tasks_id ON volunteer_tasks (id);

CREATE INDEX ix_volunteer_tasks_title ON volunteer_tasks (title);

CREATE INDEX ix_volunteer_tasks_disaster_id ON volunteer_tasks (disaster_id);

CREATE INDEX ix_volunteer_tasks_volunteer_id ON volunteer_tasks (volunteer_id);

CREATE INDEX ix_volunteer_tasks_status ON volunteer_tasks (status);

UPDATE alembic_version SET version_num='0003_add_volunteer_assignments_and_tasks' WHERE alembic_version.version_num = '0002_add_created_by';

-- Running upgrade 0003_add_volunteer_assignments_and_tasks -> 0004_add_donations

CREATE TYPE donation_type AS ENUM ('MONEY', 'MATERIAL');

CREATE TYPE donation_status AS ENUM ('PLEDGED', 'RECEIVED', 'CANCELLED');

CREATE TABLE donations (
    id SERIAL NOT NULL, 
    donor_id INTEGER NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    donation_type donation_type NOT NULL, 
    amount FLOAT, 
    item_name VARCHAR(150), 
    quantity FLOAT, 
    unit VARCHAR(50), 
    status donation_status DEFAULT 'PLEDGED' NOT NULL, 
    notes TEXT, 
    received_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(donor_id) REFERENCES users (id) ON DELETE CASCADE
);

CREATE INDEX ix_donations_id ON donations (id);

CREATE INDEX ix_donations_donor_id ON donations (donor_id);

CREATE INDEX ix_donations_disaster_id ON donations (disaster_id);

CREATE INDEX ix_donations_donation_type ON donations (donation_type);

CREATE INDEX ix_donations_status ON donations (status);

UPDATE alembic_version SET version_num='0004_add_donations' WHERE alembic_version.version_num = '0003_add_volunteer_assignments_and_tasks';

-- Running upgrade 0004_add_donations -> 0005_add_inventory

CREATE TYPE inventory_status AS ENUM ('RECEIVED', 'STORED', 'DISTRIBUTED');

CREATE TABLE inventory_items (
    id SERIAL NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    item_name VARCHAR(150) NOT NULL, 
    quantity FLOAT NOT NULL, 
    unit VARCHAR(50) NOT NULL, 
    status inventory_status DEFAULT 'RECEIVED' NOT NULL, 
    received_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    stored_at TIMESTAMP WITH TIME ZONE, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE
);

CREATE INDEX ix_inventory_items_id ON inventory_items (id);

CREATE INDEX ix_inventory_items_disaster_id ON inventory_items (disaster_id);

CREATE INDEX ix_inventory_items_item_name ON inventory_items (item_name);

CREATE INDEX ix_inventory_items_status ON inventory_items (status);

UPDATE alembic_version SET version_num='0005_add_inventory' WHERE alembic_version.version_num = '0004_add_donations';

-- Running upgrade 0005_add_inventory -> 0006_add_beneficiaries

CREATE TYPE vulnerability_category AS ENUM ('GENERAL', 'CHILDREN', 'ELDERLY', 'DISABLED', 'PREGNANT', 'LOW_INCOME');

CREATE TYPE registration_status AS ENUM ('PENDING', 'VERIFIED', 'INACTIVE');

CREATE TABLE beneficiaries (
    id SERIAL NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    contact_number VARCHAR(50) NOT NULL, 
    address TEXT NOT NULL, 
    household_size INTEGER NOT NULL, 
    vulnerability_category vulnerability_category DEFAULT 'GENERAL' NOT NULL, 
    registration_status registration_status DEFAULT 'PENDING' NOT NULL, 
    registered_by_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(registered_by_id) REFERENCES users (id) ON DELETE SET NULL, 
    CONSTRAINT uq_beneficiary_disaster_name_contact UNIQUE (disaster_id, name, contact_number)
);

CREATE INDEX ix_beneficiaries_id ON beneficiaries (id);

CREATE INDEX ix_beneficiaries_disaster_id ON beneficiaries (disaster_id);

CREATE INDEX ix_beneficiaries_name ON beneficiaries (name);

CREATE INDEX ix_beneficiaries_registration_status ON beneficiaries (registration_status);

CREATE INDEX ix_beneficiaries_registered_by_id ON beneficiaries (registered_by_id);

UPDATE alembic_version SET version_num='0006_add_beneficiaries' WHERE alembic_version.version_num = '0005_add_inventory';

-- Running upgrade 0006_add_beneficiaries -> 0007_add_distribution_centers

CREATE TYPE center_status AS ENUM ('ACTIVE', 'INACTIVE', 'FULL');

CREATE TABLE distribution_centers (
    id SERIAL NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    name VARCHAR(150) NOT NULL, 
    address TEXT NOT NULL, 
    contact_number VARCHAR(50) NOT NULL, 
    capacity INTEGER NOT NULL, 
    status center_status DEFAULT 'ACTIVE' NOT NULL, 
    operating_hours VARCHAR(100), 
    created_by_id INTEGER, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(created_by_id) REFERENCES users (id) ON DELETE SET NULL, 
    CONSTRAINT uq_center_disaster_name UNIQUE (disaster_id, name)
);

CREATE INDEX ix_distribution_centers_id ON distribution_centers (id);

CREATE INDEX ix_distribution_centers_disaster_id ON distribution_centers (disaster_id);

CREATE INDEX ix_distribution_centers_name ON distribution_centers (name);

CREATE INDEX ix_distribution_centers_status ON distribution_centers (status);

CREATE INDEX ix_distribution_centers_created_by_id ON distribution_centers (created_by_id);

UPDATE alembic_version SET version_num='0007_add_distribution_centers' WHERE alembic_version.version_num = '0006_add_beneficiaries';

-- Running upgrade 0007_add_distribution_centers -> 0008_add_resource_distributions

ALTER TABLE inventory_items ADD COLUMN original_quantity FLOAT;

UPDATE inventory_items SET original_quantity = quantity WHERE original_quantity IS NULL;

CREATE TABLE resource_distributions (
    id SERIAL NOT NULL, 
    disaster_id INTEGER NOT NULL, 
    inventory_item_id INTEGER NOT NULL, 
    beneficiary_id INTEGER NOT NULL, 
    distribution_center_id INTEGER NOT NULL, 
    quantity FLOAT NOT NULL, 
    unit VARCHAR(50) NOT NULL, 
    item_name VARCHAR(150) NOT NULL, 
    distributed_by_id INTEGER, 
    distributed_at TIMESTAMP WITH TIME ZONE NOT NULL, 
    notes TEXT, 
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP NOT NULL, 
    PRIMARY KEY (id), 
    FOREIGN KEY(disaster_id) REFERENCES disasters (id) ON DELETE CASCADE, 
    FOREIGN KEY(inventory_item_id) REFERENCES inventory_items (id) ON DELETE CASCADE, 
    FOREIGN KEY(beneficiary_id) REFERENCES beneficiaries (id) ON DELETE CASCADE, 
    FOREIGN KEY(distribution_center_id) REFERENCES distribution_centers (id) ON DELETE CASCADE, 
    FOREIGN KEY(distributed_by_id) REFERENCES users (id) ON DELETE SET NULL
);

CREATE INDEX ix_resource_distributions_id ON resource_distributions (id);

CREATE INDEX ix_resource_distributions_disaster_id ON resource_distributions (disaster_id);

CREATE INDEX ix_resource_distributions_inventory_item_id ON resource_distributions (inventory_item_id);

CREATE INDEX ix_resource_distributions_beneficiary_id ON resource_distributions (beneficiary_id);

CREATE INDEX ix_resource_distributions_distribution_center_id ON resource_distributions (distribution_center_id);

CREATE INDEX ix_resource_distributions_item_name ON resource_distributions (item_name);

CREATE INDEX ix_resource_distributions_distributed_by_id ON resource_distributions (distributed_by_id);

UPDATE alembic_version SET version_num='0008_add_resource_distributions' WHERE alembic_version.version_num = '0007_add_distribution_centers';

COMMIT;

